.taskDetailContainer {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  box-sizing: border-box; 
}

.taskHeader {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 28px;
  color: blue;
  font-weight: bold;
  overflow: hidden; 
  margin: 0;
}


.description {
  font-size: 18px;
  margin: 20px 0;
  word-break: break-word;
}

.taskDetailsList {
  list-style-type: none;
  padding: 0;
}

.taskDetailsList li {
  font-size: 16px;
  margin-bottom: 10px;
}

.taskDetailsList strong {
  color: #333;
}

.backLink {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

.backLink:hover {
  text-decoration: underline;
}

.loading {
  text-align: center;
  font-size: 20px;
  color: #888;
}

.error {
  text-align: center;
  font-size: 20px;
  color: #ff4d4d;
}
