
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 html{
  background-image: url("../src/assets/istockphoto-1343557859-2048x2048.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden; 
  width: 100%;
 }
