.footerContainer {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 40px 20px;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  min-height: 300px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 30px;
  border-bottom: 1px solid #444;
}

.footerSection {
  flex: 1;
  margin: 0 20px;
  min-width: 250px;
  max-width: 400px;
}

.footerTitle {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #f1f1f1;
  border-bottom: 2px solid #ff6f61;
  display: inline-block;
}

.footerText {
  font-size: 1.4rem;
  color: #bbb;
}

.linksList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.linkItem {
  margin-bottom: 10px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ff6f61;
}

.icons {
  display: flex;
  gap: 15px;
  font-size: 1.8rem;
}

.icons a {
  color: #fff;
  transition: color 0.3s ease;
}

.icons a:hover {
  color: #ff6f61;
}

.footerBottom {
  text-align: center;
  padding: 15px 0;
  background-color: #222;
  font-size: 0.9rem;
  color: #919191;
}
.copy{
  color: white;
  font-size: 1.5em;
}

@media (max-width: 1024px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerSection {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .footerTitle {
    font-size: 1.4rem;
  }

  .link {
    font-size: 0.95rem;
  }

  .icons {
    font-size: 1.6rem;
    gap: 10px
  }
}

@media (max-width: 480px) {
  .footerSection {
    flex-basis: 100%;
  }

  .footerTitle {
    font-size: 1.3rem;
  }

  .link {
    font-size: 0.9rem;
  }

  .icons {
    font-size: 1.4rem;
    gap :6px
  }

  .footerBottom {
    font-size: 0.8rem;
  }
}
